@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
button{
  background-color:chocolate;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: large;
  margin-top:5px;
  border-radius: 24px;

}
.container{
  display: flex;
  flex-direction: column;
  max-width: 768px;
  margin: 0 auto;
  text-align: center;
}
head, body{
  font-family: 'Jeju Gothic', sans-serif;
  background-color: beige;
}
input{
  text-align: center;
  font-size: 20px;
  border-radius: 24px;
}
#left_life{
  margin-bottom: 30px;
}
#bull{
  height: 150px;
  margin: 20px 0px;
  width: 100%;
  line-height: 150px;
}